# Ignore everything
*

# except ...
!.gitignore
!*.map
!*.md
!*.txt

#ignore standard maps to prevent invalid standard maps! Push standard maps in subdirectories!
ctf1.map
ctf2.map
ctf3.map
ctf4.map
ctf5.map
ctf6.map
ctf7.map
ctf8.map
dm1.map
dm2.map
dm3.map
dm6.map
dm7.map
dm8.map
dm9.map
lms1.map

# Add Subdirs, too!
!*/
